version: 2.1
executors:
  basic:
    docker:
    - image:  circleci/golang:1.13

jobs:
  update:
    executor: basic
    steps:
      - checkout
      - run:
          name: "Fetch latest release asset"
          command: |
              URL=$(curl --silent "https://api.github.com/repos/rkachowski/donaldhutchison.info/releases/latest?access_token=$GITHUB_TOKEN" | grep '"url":' | grep 'releases/assets' | sed -E 's/.*"([^"]+)".*/\1/')
              curl -s -L -H "Accept: application/octet-stream" $URL?access_token=$GITHUB_TOKEN -o /tmp/release.tar.gz
      - run:
          name: "Copy id files"
          command: |
            cp CNAME /tmp/CNAME
            cp keybase.txt /tmp/keybase.txt
      - run:
          name: "Remove old version"
          command: |
            echo pwd
            rm -fr *
      - run:
          name: "Unzip new version"
          command: tar -xzf /tmp/release.tar.gz .
      - run:
          name: "Copy id files back"
          command: |
            cp /tmp/CNAME CNAME
            cp /tmp/keybase.txt keybase.txt

      - persist_to_workspace:
          root: /home/circleci/project
          paths: '*'
  commit:
    executor: basic
    steps:
      - attach_workspace:
          at: /home/circleci/project
      - run:
          name: "Commit me and then push yeah"
          command: |
              URL=$(curl --silent "https://api.github.com/repos/rkachowski/donaldhutchison.info/releases/latest?access_token=$GITHUB_TOKEN" | grep '"url":' | grep 'releases/assets' | sed -E 's/.*"([^"]+)".*/\1/')
              curl -s -K -v -H "Accept: application/octet-stream" $URL?access_token=$GITHUB_TOKEN -o /tmp/release.tar.gz


workflows:
  version: 2
  deploy:
    jobs:
    - update
    - commit:
        requires:
        - update
